@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body{
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Noto Sans', sans-serif;
}
li{
    list-style: none;
}
a{
    color: #FFFFFF;
}
a:link{
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
}
a:hover{
    transform: scale(1.1);
}
/* ID */
#search-transaction, #search-connection{
  border-width: 1px;
}
/* CLASS */
.btn-green{
    background: linear-gradient(90deg, rgba(98,186,89,1) 0%, rgba(98,186,89,1) 15%, rgba(137,195,74,1) 100%);
    color: #FFFFFF !important;
}
.btn-red{
    background-color: #FC6B6B !important;
    color: #FFFFFF;
}
.btn-outline-green{
    border: 1px solid #89C34A;
    background-color: #FFFFFF;
    color: #89C34A !important;
}
.bg-green{
    background: linear-gradient(90deg, rgba(98,186,89,1) 0%, rgba(98,186,89,1) 15%, rgba(137,195,74,1) 100%);
}
.bg-white{
    background-color: #FFFFFF;
    border-radius: 8px;
}
.bg-none{
    background-color: rgba(255, 255, 128, 0);
}
.input-outline-green{
    border: 1px solid #89C34A;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 8px;
}
.text-green{
    color: #89C34A;
}
.text-red{
    color: #FC6B6B;
}
.text-white{
    color: #FFFFFF !important;
}
.text-black{
    color: #000000;
}

.svg{
    width: 24px;
    height: 24px;
}
.line{
    height: 6px;
    width: 288px;
}
.border-green{
    border-style: solid;
    border-width: 2px;
    border-image: repeating-linear-gradient(90deg, rgba(98,186,89,1) 0%, rgba(98,186,89,1) 15%, rgba(137,195,74,1) 100%) 100;
}
.error{
    color:
}
