<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Company | Transfer</title>
    <div th:replace="commons/css :: css"></div>
</head>
<body>
<header th:replace="commons/header :: header"></header>
<main>
    <div class="container">
        <div class="col-sm-4 offset-sm-4 text-center">
            <h2 class="text-green">Add A Contact</h2>
            <form th:action="@{/add-contact}" method="post">

                <div th:if="${param.error}">
                    <div class="alert alert-danger">Invalid email
                    </div>
                </div>
                <div class="form-group mt-2">
                    <label class="text-green" for="email">Email :</label>
                    <input type="email"
                           id="email" name="email"
                           class="form-control input-outline-green"
                           placeholder="Enter Email"/>
                </div>
                <div class="form-group mt-2">
                    <input type="submit"
                           name="pay-submit"
                           id="pay-submit"
                           class="form-control btn-green btn btn-lg mt-3"
                           value="Add"/>
                </div>
            </form>
            <div class="form-group mt-2">
                <a type="button" class=" form-control btn btn-lg btn-red mt-3" th:href="@{/transfer}">Cancel</a>
            </div>
        </div>
    </div>
</main>
<footer th:replace="commons/footer :: footer"></footer>
</body>
</html>
