<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Company | Registration</title>
    <div th:replace="commons/css :: css"></div>
</head>
<body>

<header th:replace="commons/header :: header"></header>
<main>
    <div class="container text-center">
        <div class="col-sm-4 offset-sm-4">
            <h1 class="text-green"><u>Register</u></h1>
            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully registered
                    to our awesome app!
                    <a th:href="@{/login}">Login</a>
                </div>
            </div>
            <form th:action="@{/registration}" method="post" th:object="${user}">
                <div class="form-group mt-2">
                    <label class="control-label text-green" for="firstName"> First Name </label>
                    <input id="firstName" class="form-control input-outline-green" type="text"
                           th:field="*{firstName}" required autofocus="autofocus"/>
                </div>

                <div class="form-group mt-2">
                    <label class="control-label text-green" for="lastName"> Last Name </label>
                    <input id="lastName" class="form-control input-outline-green" type="text"
                           th:field="*{lastName}" required/>
                </div>

                <div class="form-group mt-2">
                    <label class="control-label text-green" for="email"> Email </label>
                    <input id="email" class="form-control input-outline-green" type="email"
                           th:field="*{email}" required/>
                </div>

                <div class="form-group mt-2">
                    <label class="control-label text-green" for="password"> Password </label>
                    <input id="password" class="form-control input-outline-green" type="password"
                           th:field="*{password}" required/>
                </div>

                <div class="form-group mt-2">
                    <button type="submit" class="form-control btn btn-lg btn-green mt-3">Register</button>
                </div>
            </form>
            <a type="button" class=" form-control btn btn-lg btn-red mt-3" th:href="@{/index}">Cancel</a>
            <a type="button" class=" form-control btn btn-lg btn-outline-green mt-3" th:href="@{/login}">Log In</a>
        </div>
    </div>
</main>
<footer th:replace="commons/footer :: footer"></footer>
</body>
</html>