<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Company | Login</title>
    <head th:replace="commons/css :: css"></head>
</head>
<body>

<header th:replace="commons/header :: header"></header>

<main>
    <div class="container">
        <div class="row">
            <div th:if="${param.successAddTransaction}">
                <div class="alert alert-info">You've successfully pay a contact!
                </div>
                <div th:if="${param.userAlreadyInYourConnection}">
                    <div class="alert alert-info">User is already in your contacts!
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 offset-md-0">
                <nav id="sidebar" class="nav nav-pills flex-column mb-auto">
                    <h2 class="text-white text-center">Balance</h2>
                    <div id="amount" class="text-center">
                        <span th:text="${user.account.balance}">0.00</span> €
                    </div>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-1">
                        <li class="nav-items">
                            <a th:href="@{/add-money}" class="nav-link">
                                <img class="svg" src="img/add.svg">Add Money
                            </a>
                        </li>
                        <li class="nav-items">
                            <a th:href="@{/pay-contact}" class="nav-link">
                                <img class="svg" src="img/pay.svg">Pay a Contact
                            </a>
                        </li>
                        <li class="nav-items">
                            <a th:href="@{/transfer}" class="nav-link">
                                <img class="svg" src="img/transaction.svg">My Transactions
                            </a>
                        </li>
                        <li class="nav-items">
                            <a th:href="@{/contacts}" class="nav-link">
                                <img class="svg" src="img/contacts.svg">My Contacts
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="row">
                        <a class="btn btn-sm btn-outline-green col-5" type="button" th:href="@{/profile}">Edit Profile
                            <img class="svg" src="img/setting.svg">
                        </a>
                        <a class="btn btn-sm btn-red col-5 offset-1" type="button" th:href="@{/logout}">Log out
                            <img class="svg" src="img/logout.svg">
                        </a>
                    </div>
                </nav>
            </div>
            <div class="col-10 col-md-9 offset-1 offset-md-0">
                <a type="button" class="btn btn-sm btn-green text-center m-auto" th:href="@{/add-contact}">
                    <img class="svg" src="img/add.svg">Add A Contact
                </a>
                <a type="button" class="btn btn-sm btn-green text-center m-auto" th:href="@{/pay-contact}">
                    <img class="svg" src="img/pay.svg">Pay a Contact
                </a>
                <div id="transactions-table">
                    <caption><h2 class="text-green">My Transactions</h2></caption>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Contact</th>
                            <th>Amount</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="transaction : ${transactions}">
                            <td th:text="${transaction.date}">DATE</td>
                            <td th:text="${transaction.to.email}">Contact</td>
                            <td th:text="${transaction.amountBeforeFee}">Amount</td>
                            <td th:text="${transaction.description}">Description</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="commons/footer :: footer"></footer>
</body>
</html>